
.DS_Store
*.swp
*~.nib

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

xcuserdata
DerivedData

*.xcuserstate

*.xcbkptlist


.DS_Store

*.xcbkptlist

*.xcscheme

*.xcuserstate
Data/Image/*
USALan/USALan/Resource/Data/*